# Core Libraries
pandas
numpy
matplotlib
seaborn

# Jupyter Notebook Support
jupyter
notebook

# Time Series & Machine Learning Models
statsmodels
prophet
scikit-learn
XGBoost

# Data Processing & Utilities
pyyaml  
